

.rounded-image{
display: flex;
border-radius: 50%;
height: 100px;
width: 100px;
}

.container{
    display: flex;
    justify-content: space-between;
}
.navigasi{
    display: flex;
    margin-top: 20px;
    margin-right: 200px;
}
.navigasi>a{
    margin-right: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.autoslide{
    height: 500px;

}

.slide-1{
    background-image: ("https://preview.redd.it/st7se5vl3pm71.png?width=640&crop=smart&auto=webp&s=961f740f2e0ab84815d0ede19dcf07888a3002f9");
}
.slide-2{
    background-image: ("https://preview.redd.it/8hsrjdsn3pm71.png?width=640&crop=smart&auto=webp&s=5f8322b786bf19db7c5906dc342372ef9d6a9874");
}
.slide-3{
    background-image: ("https://preview.redd.it/wj6tvrtm3pm71.png?width=640&crop=smart&auto=webp&s=b6186f1d3995824ca23e15e9f18e3795c6a6a2c2");
}
.slide-4{
    background-image: ("https://preview.redd.it/e21cs8ho3pm71.png?width=640&crop=smart&auto=webp&s=6f93f36baec846dbe0e816b28af59045b3c62ecb");
}

.img-slideshow{
    width: 50%;
    height: 50%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    display: none;
    width: 100%;
}


















.radius1{
    border-radius: 10px 0 0 10px;
}
.radius2{
    border-radius: 0 10px 10px 0;
}

.jarak{
    margin-top: 10px;
    margin-left: 100px;
}
.roboto{
    font-family: roboto,sans-serif;
}


.gapatas{
margin: 10px 0 0 0;
}

.gapbawah{
margin: 0 1px 0 0;

}
.poppins{
    font-family: poppins,sans-serif;
}
.pojok{
    justify-content: flex-end;
    display: flex;

}



form{
    margin-left: 200px;
    font-size: 20px;
}
.form-input{
    display: flex;    
    margin-top: 20px;
}
.jarak{
    margin-left: 20px;
}